# Problem 1(a).  College data.

The data set usnews.csv contains data from the 1995 US News and World Report on colleges and universities in the US.  

(Dataset:  “US News College data,” submitted by Robin Lock, St. Lawrence University.   Dataset obtained from the Journal of Statistics Education (http://www.amstat.org/publications/jse). Accessed 23 June 2015. Used by permission of author.)

Metadata:  http://www.amstat.org/publications/jse/datasets/usnews.txt


The data set contains asterisks which indicate missing data.  Use pandas to create a data frame which replaces the asterisks by the ```NaN``` symbol. Also look out for extra spaces.

In [3]:
import pandas as pd
import numpy as np

In [81]:
#load File 
us_colleges = pd.read_csv('usnews.csv', skipinitialspace=True)

#Review Data
us_colleges
us_colleges.describe()

#Create data frame and replace asterisks and do something with the extra spaces.  Iterate over all columns for *
def remove_asteriks(v):
    """ return np.nan if the value is an asterisk"""
    if v == "*":
        return np.nan
    else:
        return v

#apply to dataset
us_colleges = us_colleges.applymap(remove_asteriks)

#review dataset
us_colleges

,ID Number,College Name,State,Public/private,Avg Math SAT,Avg Verbal SAT,Avg combined SAT,Avg ACT,First quartile - Math SAT,Third quartile - Math SAT,...,Board costs,Additional fees,Estimated book costs,Estimated personal spending,Pct of faculty with PhDs,Pct of faculty with terminal degree,Student/faculty ratio,Pct alumni who donate,Instructional expenditure per student,Graduation rate
0,1061,Alaska Pacific University,AK,2,490,482,972,20,440,530,...,2500,130,800,1500,76,72,11.9,2,10922,15
1,1063,University of Alaska at Fairbanks,AK,1,499,462,961,22,NaN,NaN,...,1790,155,650,2304,67,NaN,10.0,8,11935,NaN
2,1065,University of Alaska Southeast,AK,1,NaN,NaN,NaN,NaN,NaN,NaN,...,2250,34,500,1162,39,51,9.5,NaN,9584,39
3,11462,University of Alaska at Anchorage,AK,1,459,422,881,20,NaN,NaN,...,2520,114,580,1260,48,NaN,13.7,6,8046,NaN
4,1002,Alabama Agri. & Mech. Univ.,AL,1,NaN,NaN,NaN,17,NaN,NaN,...,1442,155,500,850,53,53,14.3,NaN,7043,40
5,1003,Faulkner University,AL,2,NaN,NaN,NaN,20,NaN,NaN,...,1700,300,350,NaN,52,56,32.8,NaN,3971,55
6,1004,University of Montevallo,AL,1,NaN,NaN,NaN,21,NaN,NaN,...,NaN,124,300,600,72,72,18.9,8,5883,51
7,1005,Alabama State University,AL,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,84,500,NaN,48,53,18.7,NaN,NaN,15
8,1009,Auburn University-Main Campus,AL,1,575,501,1076,24,520,638,...,NaN,NaN,600,1908,85,91,16.7,18,6642,69
9,1012,Birmingham-Southern College,AL,2,575,525,1100,26,470,680,...,2430,120,400,900,74,79,14.0,34,8649,72
10,1016,University of North Alabama,AL,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1200,20,500,NaN,62,68,19.4,5,4944,76
11,1019,Huntingdon College,AL,2,513,446,959,23,480,570,...,2540,100,500,1100,63,72,11.4,9,7703,44
12,1020,Jacksonville State University,AL,1,NaN,NaN,NaN,20,NaN,NaN,...,1570,85,570,1500,66,67,20.1,6,4604,33
13,1023,Judson College,AL,2,NaN,NaN,NaN,22,NaN,NaN,...,NaN,NaN,NaN,NaN,70,70,17.9,27,5159,43
14,1024,Livingston University,AL,1,NaN,NaN,NaN,19,NaN,NaN,...,1287,243,570,2100,58,58,18.8,4,4272,36
15,1028,Miles College,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,1450,NaN,600,1000,35,NaN,16.7,2,4455,15
16,1029,University of Mobile,AL,2,NaN,NaN,NaN,22,NaN,NaN,...,NaN,70,550,1200,59,63,16.6,4,5412,52
17,1033,Oakwood College,AL,2,382,378,760,17,NaN,NaN,...,NaN,368,600,2500,52,52,14.5,12,7986,NaN
18,1036,Samford University,AL,2,NaN,NaN,NaN,NaN,485,585,...,NaN,NaN,569,1650,74,75,14.7,17,9533,61
19,1041,Spring Hill College,AL,2,525,480,990,24,480,550,...,2338,645,500,900,80,89,14.4,23,8594,70
20,1044,Stillman College,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,1071,100,600,1000,47,47,14.3,NaN,5031,47
21,1046,Talladega College,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,1540,418,1000,1400,56,58,15.5,7,5970,46
22,1047,Troy State University at Troy,AL,1,510,470,980,20,350,480,...,1120,75,300,NaN,50,50,23.0,NaN,4295,48
23,1050,Tuskegee University,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,600,1425,70,74,12.2,7,10872,65
24,1051,University of Alabama at Tuscaloosa,AL,1,NaN,NaN,NaN,23,NaN,NaN,...,1930,NaN,580,1654,80,91,17.3,29,6426,50
25,1052,University of Alabama at Birmingham,AL,1,NaN,NaN,NaN,21,NaN,NaN,...,3240,291,750,2200,96,96,6.7,16,16352,33
26,1055,University of Alabama at Huntsville,AL,1,542,468,1010,24,470,610,...,1000,NaN,600,2100,83,88,12.7,12,8863,38
27,1057,University of South Alabama,AL,1,NaN,NaN,NaN,23,NaN,NaN,...,1320,183,480,1470,80,80,13.3,NaN,8667,43
28,8310,Auburn University at Montgomery,AL,1,NaN,NaN,NaN,21,NaN,NaN,...,2780,NaN,600,2500,74,76,18.1,NaN,4792,42
29,1085,University of Arkansas at Monticello,AR,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1470,84,500,2800,54,54,42.6,NaN,2033,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,3911,Viterbo College,WI,2,NaN,NaN,NaN,22,NaN,NaN,...,1815,70,500,2245,51,65,10.7,31,8050,73
1273,3915,University of Wisconsin-Stout,WI,1,NaN,NaN,NaN,21,NaN,NaN,...,1188,400,376,1750,78,78,21.0,17,6254,65
1274,3917,Univ. of Wisconsin at Eau Claire,WI,1,525,460,985,23,460,585,...,1140,1070,279,1260,80,NaN,19.3,28,6139,61
1275,3919,Univ. of Wisconsin at La Crosse,WI,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1700,NaN,78,21.3,7,5946,54
1276,3921,Univ. of Wisconsin at Platteville,WI,1,NaN,NaN,NaN,22,NaN,NaN,...,1340,420,300,1500,66,67,20.6,25,7100,59
1277,3923,Univ. of Wisconsin at River Falls,WI,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1124,NaN,191,1357,69,73,18.1,15,6460,46
1278,3924,Univ. of Wisconsin at Stevens Point,WI,1,NaN,NaN,NaN,22,NaN,NaN,...,1338,NaN,300,1230,NaN,NaN,19.2,NaN,NaN,67
1279,3925,University of Wisconsin-Superior,WI,1,NaN,NaN,NaN,21,NaN,NaN,...,1372,NaN,550,1960,75,81,15.2,15,6490,36
1280,3926,University of Wisconsin-Whitewater,WI,1,NaN,NaN,NaN,21,NaN,NaN,...,NaN,NaN,300,1200,90,95,23.1,16,5559,67
1281,5015,University of Wisconsin at Parkside,WI,1,NaN,NaN,NaN,20,NaN,NaN,...,NaN,NaN,NaN,NaN,87,93,18.4,13,6855,28
1282,9630,Univ. of Wisconsin at OshKosh,WI,1,NaN,NaN,NaN,22,NaN,NaN,...,944,NaN,518,1890,73,78,19.2,14,5901,56
1283,21366,Wisconsin Lutheran College,WI,2,NaN,NaN,NaN,23,NaN,NaN,...,1900,90,500,1400,48,48,8.5,26,8960,50
1284,3806,Alderson-Broaddus College,WV,2,443,394,837,20,400,510,...,1806,92,660,1800,40,41,11.5,15,8991,52
1285,3808,Bethany College,WV,2,479,448,927,23,NaN,NaN,...,NaN,300,400,1500,80,NaN,13.0,24,10941,59
1286,3809,Bluefield State College,WV,1,420,370,780,19,NaN,NaN,...,NaN,NaN,600,2026,24,25,16.3,NaN,2520,42
1287,3810,Concord College,WV,2,NaN,NaN,NaN,20,NaN,NaN,...,1782,NaN,400,1874,55,62,19.2,22,4311,49
1288,3811,Davis & Elkins College,WV,2,437,399,836,19,360,500,...,2350,130,400,NaN,64,70,12.8,26,8813,94
1289,3812,Fairmont State College,WV,1,NaN,NaN,NaN,19,NaN,NaN,...,1640,100,600,NaN,37,37,19.6,NaN,3191,50
1290,3813,Glenville State College,WV,1,NaN,NaN,NaN,19,NaN,NaN,...,1776,NaN,600,2000,25,31,17.3,NaN,3689,65
1291,3815,Marshall University,WV,2,465,450,915,23,NaN,NaN,...,1980,330,700,1560,77,86,16.6,10,6203,50
1292,3818,University of Charleston,WV,2,505,443,948,21,430,550,...,NaN,150,400,750,26,58,2.5,10,7683,57
1293,3820,Salem-Teikyo University,WV,2,NaN,NaN,NaN,22,370,580,...,2352,NaN,400,620,46,24,13.0,9,8946,98
1294,3822,Shepherd College,WV,2,481,422,903,24,430,523,...,1900,NaN,700,1665,57,63,16.5,NaN,3485,46
1295,3823,West Liberty State College,WV,1,NaN,NaN,NaN,19,NaN,NaN,...,NaN,NaN,600,1210,33,33,16.3,10,4249,60
1296,3825,West Virginia Institute of Technology,WV,1,NaN,NaN,NaN,20,NaN,NaN,...,1952,NaN,500,NaN,NaN,31,15.3,NaN,4325,56
1297,3826,West Virginia State College,WV,1,NaN,NaN,NaN,18,NaN,NaN,...,1700,50,750,750,38,38,19.2,4,3839,NaN
1298,3827,West Virginia University,WV,1,507,439,946,22,450,560,...,2026,NaN,NaN,NaN,83,86,13.4,NaN,8318,57
1299,3830,West Virginia Wesleyan College,WV,2,489,439,928,23,420,560,...,2025,NaN,450,1100,58,81,16.4,42,8080,67
1300,3831,Wheeling Jesuit College,WV,2,479,433,912,22,410,520,...,2445,NaN,600,600,66,71,14.1,27,7494,72
1301,3932,University of Wyoming,WY,1,NaN,NaN,NaN,23,NaN,NaN,...,1960,300,600,1500,91,94,15.1,13,8745,45

#Problem 1(b).  Categorizing universities.

Create a new column in your data frame which describes whether a university is public or private, using the words "Public" and "Private" instead of numbers.  (It may be helpful to consult the metadata file.)

In [82]:
#Identify Unique values for Public/private
us_colleges['Public/private'].unique()

#Create new column in data frame which describes whether a university is public or private
PubPriv_dict = {1:'Public', 2:'Private'}

#Create a lambda function which calls the PubPriv_Dict and returns a series object
us_colleges['Public/private'].map(lambda s: PubPriv_dict.get(s))
            
#Create new column and map PubPriv_Dict series to it
us_colleges['Public/private Desc'] = us_colleges['Public/private'].map(lambda s: PubPriv_dict.get(s))
us_colleges

,ID Number,College Name,State,Public/private,Avg Math SAT,Avg Verbal SAT,Avg combined SAT,Avg ACT,First quartile - Math SAT,Third quartile - Math SAT,...,Additional fees,Estimated book costs,Estimated personal spending,Pct of faculty with PhDs,Pct of faculty with terminal degree,Student/faculty ratio,Pct alumni who donate,Instructional expenditure per student,Graduation rate,Public/private Desc
0,1061,Alaska Pacific University,AK,2,490,482,972,20,440,530,...,130,800,1500,76,72,11.9,2,10922,15,Private
1,1063,University of Alaska at Fairbanks,AK,1,499,462,961,22,NaN,NaN,...,155,650,2304,67,NaN,10.0,8,11935,NaN,Public
2,1065,University of Alaska Southeast,AK,1,NaN,NaN,NaN,NaN,NaN,NaN,...,34,500,1162,39,51,9.5,NaN,9584,39,Public
3,11462,University of Alaska at Anchorage,AK,1,459,422,881,20,NaN,NaN,...,114,580,1260,48,NaN,13.7,6,8046,NaN,Public
4,1002,Alabama Agri. & Mech. Univ.,AL,1,NaN,NaN,NaN,17,NaN,NaN,...,155,500,850,53,53,14.3,NaN,7043,40,Public
5,1003,Faulkner University,AL,2,NaN,NaN,NaN,20,NaN,NaN,...,300,350,NaN,52,56,32.8,NaN,3971,55,Private
6,1004,University of Montevallo,AL,1,NaN,NaN,NaN,21,NaN,NaN,...,124,300,600,72,72,18.9,8,5883,51,Public
7,1005,Alabama State University,AL,1,NaN,NaN,NaN,NaN,NaN,NaN,...,84,500,NaN,48,53,18.7,NaN,NaN,15,Public
8,1009,Auburn University-Main Campus,AL,1,575,501,1076,24,520,638,...,NaN,600,1908,85,91,16.7,18,6642,69,Public
9,1012,Birmingham-Southern College,AL,2,575,525,1100,26,470,680,...,120,400,900,74,79,14.0,34,8649,72,Private
10,1016,University of North Alabama,AL,1,NaN,NaN,NaN,NaN,NaN,NaN,...,20,500,NaN,62,68,19.4,5,4944,76,Public
11,1019,Huntingdon College,AL,2,513,446,959,23,480,570,...,100,500,1100,63,72,11.4,9,7703,44,Private
12,1020,Jacksonville State University,AL,1,NaN,NaN,NaN,20,NaN,NaN,...,85,570,1500,66,67,20.1,6,4604,33,Public
13,1023,Judson College,AL,2,NaN,NaN,NaN,22,NaN,NaN,...,NaN,NaN,NaN,70,70,17.9,27,5159,43,Private
14,1024,Livingston University,AL,1,NaN,NaN,NaN,19,NaN,NaN,...,243,570,2100,58,58,18.8,4,4272,36,Public
15,1028,Miles College,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,600,1000,35,NaN,16.7,2,4455,15,Private
16,1029,University of Mobile,AL,2,NaN,NaN,NaN,22,NaN,NaN,...,70,550,1200,59,63,16.6,4,5412,52,Private
17,1033,Oakwood College,AL,2,382,378,760,17,NaN,NaN,...,368,600,2500,52,52,14.5,12,7986,NaN,Private
18,1036,Samford University,AL,2,NaN,NaN,NaN,NaN,485,585,...,NaN,569,1650,74,75,14.7,17,9533,61,Private
19,1041,Spring Hill College,AL,2,525,480,990,24,480,550,...,645,500,900,80,89,14.4,23,8594,70,Private
20,1044,Stillman College,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,100,600,1000,47,47,14.3,NaN,5031,47,Private
21,1046,Talladega College,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,418,1000,1400,56,58,15.5,7,5970,46,Private
22,1047,Troy State University at Troy,AL,1,510,470,980,20,350,480,...,75,300,NaN,50,50,23.0,NaN,4295,48,Public
23,1050,Tuskegee University,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,600,1425,70,74,12.2,7,10872,65,Private
24,1051,University of Alabama at Tuscaloosa,AL,1,NaN,NaN,NaN,23,NaN,NaN,...,NaN,580,1654,80,91,17.3,29,6426,50,Public
25,1052,University of Alabama at Birmingham,AL,1,NaN,NaN,NaN,21,NaN,NaN,...,291,750,2200,96,96,6.7,16,16352,33,Public
26,1055,University of Alabama at Huntsville,AL,1,542,468,1010,24,470,610,...,NaN,600,2100,83,88,12.7,12,8863,38,Public
27,1057,University of South Alabama,AL,1,NaN,NaN,NaN,23,NaN,NaN,...,183,480,1470,80,80,13.3,NaN,8667,43,Public
28,8310,Auburn University at Montgomery,AL,1,NaN,NaN,NaN,21,NaN,NaN,...,NaN,600,2500,74,76,18.1,NaN,4792,42,Public
29,1085,University of Arkansas at Monticello,AR,1,NaN,NaN,NaN,NaN,NaN,NaN,...,84,500,2800,54,54,42.6,NaN,2033,NaN,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,3911,Viterbo College,WI,2,NaN,NaN,NaN,22,NaN,NaN,...,70,500,2245,51,65,10.7,31,8050,73,Private
1273,3915,University of Wisconsin-Stout,WI,1,NaN,NaN,NaN,21,NaN,NaN,...,400,376,1750,78,78,21.0,17,6254,65,Public
1274,3917,Univ. of Wisconsin at Eau Claire,WI,1,525,460,985,23,460,585,...,1070,279,1260,80,NaN,19.3,28,6139,61,Public
1275,3919,Univ. of Wisconsin at La Crosse,WI,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1700,NaN,78,21.3,7,5946,54,Public
1276,3921,Univ. of Wisconsin at Platteville,WI,1,NaN,NaN,NaN,22,NaN,NaN,...,420,300,1500,66,67,20.6,25,7100,59,Public
1277,3923,Univ. of Wisconsin at River Falls,WI,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,191,1357,69,73,18.1,15,6460,46,Public
1278,3924,Univ. of Wisconsin at Stevens Point,WI,1,NaN,NaN,NaN,22,NaN,NaN,...,NaN,300,1230,NaN,NaN,19.2,NaN,NaN,67,Public
1279,3925,University of Wisconsin-Superior,WI,1,NaN,NaN,NaN,21,NaN,NaN,...,NaN,550,1960,75,81,15.2,15,6490,36,Public
1280,3926,University of Wisconsin-Whitewater,WI,1,NaN,NaN,NaN,21,NaN,NaN,...,NaN,300,1200,90,95,23.1,16,5559,67,Public
1281,5015,University of Wisconsin at Parkside,WI,1,NaN,NaN,NaN,20,NaN,NaN,...,NaN,NaN,NaN,87,93,18.4,13,6855,28,Public
1282,9630,Univ. of Wisconsin at OshKosh,WI,1,NaN,NaN,NaN,22,NaN,NaN,...,NaN,518,1890,73,78,19.2,14,5901,56,Public
1283,21366,Wisconsin Lutheran College,WI,2,NaN,NaN,NaN,23,NaN,NaN,...,90,500,1400,48,48,8.5,26,8960,50,Private
1284,3806,Alderson-Broaddus College,WV,2,443,394,837,20,400,510,...,92,660,1800,40,41,11.5,15,8991,52,Private
1285,3808,Bethany College,WV,2,479,448,927,23,NaN,NaN,...,300,400,1500,80,NaN,13.0,24,10941,59,Private
1286,3809,Bluefield State College,WV,1,420,370,780,19,NaN,NaN,...,NaN,600,2026,24,25,16.3,NaN,2520,42,Public
1287,3810,Concord College,WV,2,NaN,NaN,NaN,20,NaN,NaN,...,NaN,400,1874,55,62,19.2,22,4311,49,Private
1288,3811,Davis & Elkins College,WV,2,437,399,836,19,360,500,...,130,400,NaN,64,70,12.8,26,8813,94,Private
1289,3812,Fairmont State College,WV,1,NaN,NaN,NaN,19,NaN,NaN,...,100,600,NaN,37,37,19.6,NaN,3191,50,Public
1290,3813,Glenville State College,WV,1,NaN,NaN,NaN,19,NaN,NaN,...,NaN,600,2000,25,31,17.3,NaN,3689,65,Public
1291,3815,Marshall University,WV,2,465,450,915,23,NaN,NaN,...,330,700,1560,77,86,16.6,10,6203,50,Private
1292,3818,University of Charleston,WV,2,505,443,948,21,430,550,...,150,400,750,26,58,2.5,10,7683,57,Private
1293,3820,Salem-Teikyo University,WV,2,NaN,NaN,NaN,22,370,580,...,NaN,400,620,46,24,13.0,9,8946,98,Private
1294,3822,Shepherd College,WV,2,481,422,903,24,430,523,...,NaN,700,1665,57,63,16.5,NaN,3485,46,Private
1295,3823,West Liberty State College,WV,1,NaN,NaN,NaN,19,NaN,NaN,...,NaN,600,1210,33,33,16.3,10,4249,60,Public
1296,3825,West Virginia Institute of Technology,WV,1,NaN,NaN,NaN,20,NaN,NaN,...,NaN,500,NaN,NaN,31,15.3,NaN,4325,56,Public
1297,3826,West Virginia State College,WV,1,NaN,NaN,NaN,18,NaN,NaN,...,50,750,750,38,38,19.2,4,3839,NaN,Public
1298,3827,West Virginia University,WV,1,507,439,946,22,450,560,...,NaN,NaN,NaN,83,86,13.4,NaN,8318,57,Public
1299,3830,West Virginia Wesleyan College,WV,2,489,439,928,23,420,560,...,NaN,450,1100,58,81,16.4,42,8080,67,Private
1300,3831,Wheeling Jesuit College,WV,2,479,433,912,22,410,520,...,NaN,600,600,66,71,14.1,27,7494,72,Private
1301,3932,University of Wyoming,WY,1,NaN,NaN,NaN,23,NaN,NaN,...,300,600,1500,91,94,15.1,13,8745,45,Public

#Problem 1(c).  

The interquartile range is the 3rd quartile minus the 1st quartile.  Create columns recording the interquartile range for math and verbal SAT scores.

In [21]:
list(us_colleges)

['ID Number',
 'College Name',
 'State',
 'Public/private',
 'Avg Math SAT',
 'Avg Verbal SAT',
 'Avg combined SAT',
 'Avg ACT',
 'First quartile - Math SAT',
 'Third quartile - Math SAT',
 'First quartile - Verbal SAT',
 'Third quartile - Verbal SAT',
 'First quartile - ACT',
 'Third quartile - ACT',
 'Num applications received',
 'Num applicants accepted',
 'Num students enrolled',
 'Pct new students from top 10% of HS class',
 'Pct new students from top 25% of HS class',
 'Num full-time undergraduates',
 'Num part-time undergraduates',
 'In-state tuition',
 'Out-of-state tuition',
 'Room and Board costs',
 'Room costs',
 'Board costs',
 'Additional fees',
 'Estimated book costs',
 'Estimated personal spending',
 'Pct of faculty with PhDs',
 'Pct of faculty with terminal degree',
 'Student/faculty ratio',
 'Pct alumni who donate',
 'Instructional expenditure per student',
 'Graduation rate',
 'Public/private Desc']

In [83]:
#Handle NaN's in field prior to computation
#us_colleges['Third quartile - Math SAT'].fillna(0)
#us_colleges['First quartile - Math SAT'].fillna(0)
#us_colleges['Third quartile - Verbal SAT'].fillna(0)
#us_colleges['First quartile - Verbal SAT'].fillna(0)
us_colleges['Third quartile - Math SAT']

0       530
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       638
9       680
10      NaN
11      570
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      585
19      550
20      NaN
21      NaN
22      480
23      NaN
24      NaN
25      NaN
26      610
27      NaN
28      NaN
29      NaN
       ...
1272    NaN
1273    NaN
1274    585
1275    NaN
1276    NaN
1277    NaN
1278    NaN
1279    NaN
1280    NaN
1281    NaN
1282    NaN
1283    NaN
1284    510
1285    NaN
1286    NaN
1287    NaN
1288    500
1289    NaN
1290    NaN
1291    NaN
1292    550
1293    580
1294    523
1295    NaN
1296    NaN
1297    NaN
1298    560
1299    560
1300    520
1301    NaN
Name: Third quartile - Math SAT, dtype: object

In [84]:
#Create function to compute interquartile range for Math SAT to apply to each row in the data frame
def compute_interquartileMath(row):
    a=row['Third quartile - Math SAT']
    b=row['First quartile - Math SAT']
    c=float(a)-float(b)
    return c

us_colleges.apply(compute_interquartileMath, axis=1)
#Create function to compute interquartile range for Verbal SAT to apply to each row in the data frame
def compute_interquartileVerbal(row):
    a=row['Third quartile - Verbal SAT']
    b=row['First quartile - Verbal SAT']
    c=float(a)-float(b)
    return c



# Create new columns to hold Interquartile values
us_colleges['Interquartile - Math SAT'] = us_colleges.apply(compute_interquartileMath, axis=1)
us_colleges['Interquartile - Verbal SAT']= us_colleges.apply(compute_interquartileVerbal, axis=1)

us_colleges

,ID Number,College Name,State,Public/private,Avg Math SAT,Avg Verbal SAT,Avg combined SAT,Avg ACT,First quartile - Math SAT,Third quartile - Math SAT,...,Estimated personal spending,Pct of faculty with PhDs,Pct of faculty with terminal degree,Student/faculty ratio,Pct alumni who donate,Instructional expenditure per student,Graduation rate,Public/private Desc,Interquartile - Math SAT,Interquartile - Verbal SAT
0,1061,Alaska Pacific University,AK,2,490,482,972,20,440,530,...,1500,76,72,11.9,2,10922,15,Private,90,120
1,1063,University of Alaska at Fairbanks,AK,1,499,462,961,22,NaN,NaN,...,2304,67,NaN,10.0,8,11935,NaN,Public,NaN,NaN
2,1065,University of Alaska Southeast,AK,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1162,39,51,9.5,NaN,9584,39,Public,NaN,NaN
3,11462,University of Alaska at Anchorage,AK,1,459,422,881,20,NaN,NaN,...,1260,48,NaN,13.7,6,8046,NaN,Public,NaN,NaN
4,1002,Alabama Agri. & Mech. Univ.,AL,1,NaN,NaN,NaN,17,NaN,NaN,...,850,53,53,14.3,NaN,7043,40,Public,NaN,NaN
5,1003,Faulkner University,AL,2,NaN,NaN,NaN,20,NaN,NaN,...,NaN,52,56,32.8,NaN,3971,55,Private,NaN,NaN
6,1004,University of Montevallo,AL,1,NaN,NaN,NaN,21,NaN,NaN,...,600,72,72,18.9,8,5883,51,Public,NaN,NaN
7,1005,Alabama State University,AL,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,48,53,18.7,NaN,NaN,15,Public,NaN,NaN
8,1009,Auburn University-Main Campus,AL,1,575,501,1076,24,520,638,...,1908,85,91,16.7,18,6642,69,Public,118,106
9,1012,Birmingham-Southern College,AL,2,575,525,1100,26,470,680,...,900,74,79,14.0,34,8649,72,Private,210,190
10,1016,University of North Alabama,AL,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,62,68,19.4,5,4944,76,Public,NaN,NaN
11,1019,Huntingdon College,AL,2,513,446,959,23,480,570,...,1100,63,72,11.4,9,7703,44,Private,90,130
12,1020,Jacksonville State University,AL,1,NaN,NaN,NaN,20,NaN,NaN,...,1500,66,67,20.1,6,4604,33,Public,NaN,NaN
13,1023,Judson College,AL,2,NaN,NaN,NaN,22,NaN,NaN,...,NaN,70,70,17.9,27,5159,43,Private,NaN,NaN
14,1024,Livingston University,AL,1,NaN,NaN,NaN,19,NaN,NaN,...,2100,58,58,18.8,4,4272,36,Public,NaN,NaN
15,1028,Miles College,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,1000,35,NaN,16.7,2,4455,15,Private,NaN,NaN
16,1029,University of Mobile,AL,2,NaN,NaN,NaN,22,NaN,NaN,...,1200,59,63,16.6,4,5412,52,Private,NaN,NaN
17,1033,Oakwood College,AL,2,382,378,760,17,NaN,NaN,...,2500,52,52,14.5,12,7986,NaN,Private,NaN,NaN
18,1036,Samford University,AL,2,NaN,NaN,NaN,NaN,485,585,...,1650,74,75,14.7,17,9533,61,Private,100,100
19,1041,Spring Hill College,AL,2,525,480,990,24,480,550,...,900,80,89,14.4,23,8594,70,Private,70,90
20,1044,Stillman College,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,1000,47,47,14.3,NaN,5031,47,Private,NaN,NaN
21,1046,Talladega College,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,1400,56,58,15.5,7,5970,46,Private,NaN,NaN
22,1047,Troy State University at Troy,AL,1,510,470,980,20,350,480,...,NaN,50,50,23.0,NaN,4295,48,Public,130,170
23,1050,Tuskegee University,AL,2,NaN,NaN,NaN,NaN,NaN,NaN,...,1425,70,74,12.2,7,10872,65,Private,NaN,NaN
24,1051,University of Alabama at Tuscaloosa,AL,1,NaN,NaN,NaN,23,NaN,NaN,...,1654,80,91,17.3,29,6426,50,Public,NaN,NaN
25,1052,University of Alabama at Birmingham,AL,1,NaN,NaN,NaN,21,NaN,NaN,...,2200,96,96,6.7,16,16352,33,Public,NaN,NaN
26,1055,University of Alabama at Huntsville,AL,1,542,468,1010,24,470,610,...,2100,83,88,12.7,12,8863,38,Public,140,140
27,1057,University of South Alabama,AL,1,NaN,NaN,NaN,23,NaN,NaN,...,1470,80,80,13.3,NaN,8667,43,Public,NaN,NaN
28,8310,Auburn University at Montgomery,AL,1,NaN,NaN,NaN,21,NaN,NaN,...,2500,74,76,18.1,NaN,4792,42,Public,NaN,NaN
29,1085,University of Arkansas at Monticello,AR,1,NaN,NaN,NaN,NaN,NaN,NaN,...,2800,54,54,42.6,NaN,2033,NaN,Public,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,3911,Viterbo College,WI,2,NaN,NaN,NaN,22,NaN,NaN,...,2245,51,65,10.7,31,8050,73,Private,NaN,NaN
1273,3915,University of Wisconsin-Stout,WI,1,NaN,NaN,NaN,21,NaN,NaN,...,1750,78,78,21.0,17,6254,65,Public,NaN,NaN
1274,3917,Univ. of Wisconsin at Eau Claire,WI,1,525,460,985,23,460,585,...,1260,80,NaN,19.3,28,6139,61,Public,125,120
1275,3919,Univ. of Wisconsin at La Crosse,WI,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1700,NaN,78,21.3,7,5946,54,Public,NaN,NaN
1276,3921,Univ. of Wisconsin at Platteville,WI,1,NaN,NaN,NaN,22,NaN,NaN,...,1500,66,67,20.6,25,7100,59,Public,NaN,NaN
1277,3923,Univ. of Wisconsin at River Falls,WI,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1357,69,73,18.1,15,6460,46,Public,NaN,NaN
1278,3924,Univ. of Wisconsin at Stevens Point,WI,1,NaN,NaN,NaN,22,NaN,NaN,...,1230,NaN,NaN,19.2,NaN,NaN,67,Public,NaN,NaN
1279,3925,University of Wisconsin-Superior,WI,1,NaN,NaN,NaN,21,NaN,NaN,...,1960,75,81,15.2,15,6490,36,Public,NaN,NaN
1280,3926,University of Wisconsin-Whitewater,WI,1,NaN,NaN,NaN,21,NaN,NaN,...,1200,90,95,23.1,16,5559,67,Public,NaN,NaN
1281,5015,University of Wisconsin at Parkside,WI,1,NaN,NaN,NaN,20,NaN,NaN,...,NaN,87,93,18.4,13,6855,28,Public,NaN,NaN
1282,9630,Univ. of Wisconsin at OshKosh,WI,1,NaN,NaN,NaN,22,NaN,NaN,...,1890,73,78,19.2,14,5901,56,Public,NaN,NaN
1283,21366,Wisconsin Lutheran College,WI,2,NaN,NaN,NaN,23,NaN,NaN,...,1400,48,48,8.5,26,8960,50,Private,NaN,NaN
1284,3806,Alderson-Broaddus College,WV,2,443,394,837,20,400,510,...,1800,40,41,11.5,15,8991,52,Private,110,90
1285,3808,Bethany College,WV,2,479,448,927,23,NaN,NaN,...,1500,80,NaN,13.0,24,10941,59,Private,NaN,NaN
1286,3809,Bluefield State College,WV,1,420,370,780,19,NaN,NaN,...,2026,24,25,16.3,NaN,2520,42,Public,NaN,NaN
1287,3810,Concord College,WV,2,NaN,NaN,NaN,20,NaN,NaN,...,1874,55,62,19.2,22,4311,49,Private,NaN,NaN
1288,3811,Davis & Elkins College,WV,2,437,399,836,19,360,500,...,NaN,64,70,12.8,26,8813,94,Private,140,110
1289,3812,Fairmont State College,WV,1,NaN,NaN,NaN,19,NaN,NaN,...,NaN,37,37,19.6,NaN,3191,50,Public,NaN,NaN
1290,3813,Glenville State College,WV,1,NaN,NaN,NaN,19,NaN,NaN,...,2000,25,31,17.3,NaN,3689,65,Public,NaN,NaN
1291,3815,Marshall University,WV,2,465,450,915,23,NaN,NaN,...,1560,77,86,16.6,10,6203,50,Private,NaN,NaN
1292,3818,University of Charleston,WV,2,505,443,948,21,430,550,...,750,26,58,2.5,10,7683,57,Private,120,100
1293,3820,Salem-Teikyo University,WV,2,NaN,NaN,NaN,22,370,580,...,620,46,24,13.0,9,8946,98,Private,210,190
1294,3822,Shepherd College,WV,2,481,422,903,24,430,523,...,1665,57,63,16.5,NaN,3485,46,Private,93,80
1295,3823,West Liberty State College,WV,1,NaN,NaN,NaN,19,NaN,NaN,...,1210,33,33,16.3,10,4249,60,Public,NaN,NaN
1296,3825,West Virginia Institute of Technology,WV,1,NaN,NaN,NaN,20,NaN,NaN,...,NaN,NaN,31,15.3,NaN,4325,56,Public,NaN,NaN
1297,3826,West Virginia State College,WV,1,NaN,NaN,NaN,18,NaN,NaN,...,750,38,38,19.2,4,3839,NaN,Public,NaN,NaN
1298,3827,West Virginia University,WV,1,507,439,946,22,450,560,...,NaN,83,86,13.4,NaN,8318,57,Public,110,110
1299,3830,West Virginia Wesleyan College,WV,2,489,439,928,23,420,560,...,1100,58,81,16.4,42,8080,67,Private,140,130
1300,3831,Wheeling Jesuit College,WV,2,479,433,912,22,410,520,...,600,66,71,14.1,27,7494,72,Private,110,110
1301,3932,University of Wyoming,WY,1,NaN,NaN,NaN,23,NaN,NaN,...,1500,91,94,15.1,13,8745,45,Public,NaN,NaN

# Problem 1(d).  Saving for R.

Save your data frame as a .csv file for further analysis in R.  You should replace the ```NaN``` symbol with an empty string before saving.  Your output should not include a column of row numbers.

In [88]:
#Convert NaN to empty string.
us_colleges.fillna('', inplace=True)

In [89]:
# Save the data frame to a .csv file
# Specifying index=False prevents us from writing a column of row numbers

us_colleges.to_csv("us_colleges_clean.csv", index=False)